.body {
  color: white;
}
.body-01 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-01.jpg);
}
.body-02 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-02.jpg);
}
.body-03 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-03.jpg);
}
.body-04 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-04.jpg);
}
.body-05 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-05.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-05.jpg);
}
.body-06 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-06.jpg);
}
.body-07 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-07.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-07.jpg);
}
.body-08 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-08.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-08.jpg);
}
.body-09 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-09.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-09.jpg);
}
.body-10 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-10.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-10.jpg);
}
.body-11 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-11.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-11.jpg);
}
.body-12 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-12.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-12.jpg);
}
.body-13 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.68)), to(rgba(0, 0, 0, 0.68))), url(../images/artists/artist-13.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../images/artists/artist-13.jpg);
}

.artist-page__main {
  max-height: 100vh;
  height: 100%;
  max-width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (25%)[4];
  grid-template-rows: repeat(4, 25%);
}

.artist-page__main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.artist-page__main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.artist-page__main > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.artist-page__main > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.artist-page__main > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.artist-page__main > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.artist-page__main > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.artist-page__main > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.artist-page__main .txt {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row-align: center;
      align-self: center;
}

.artist-page-img {
  max-height: 100vh;
  height: 100%;
  position: sticky;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}