body {
    background-image: url(../images/artists/artist-01.jpg);
    background-size: cover;
    color: white;

}

.artist-page__main {
    max-height: 100vh;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: grid;
    grid-template-columns: repeat(2, 50%);


    &-info {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }



}

.artist-page-img {
    max-height: 700px;
    height: 100%;
    position: sticky;
}