body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: black;
}

.artists__main {
    max-width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-artist {
        max-width: 63.3%;
        box-sizing: border-box;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        &--container-blocks {
            max-width: 45%;
            box-sizing: border-box;
        }
        
        &--photo {
            max-width: 100%;
            min-height: 10vh; 
            border-radius: 10px;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: blue;
        }
    }
}