$pink: #EE4266;
$yellow: #FFD23F;
$green: #59C9A5;

$logo-font: 'Akronim', cursive;
$body-font: 'Baloo Bhai 2', cursive;

// Added by Aili

// Main food page
$logo-font-foodpage-size: 10vw;
$body-font-heading-size: 30px;
$body-font-text-size: 20px;

// Indiv. food pages
$body-font-subpage-text-size: 18px;
$body-font-subpage-text-line-height: 23px;

// Small screen sizes
$body-font-heading-size-small: 20px;
$body-font-subpage-text-size-small: 14px;
$body-font-subpage-text-line-height: 19px;


