$pink: #EE4266;
$yellow: #FFD23F;
$green: #59C9A5;

$logo-font: 'Akronim', cursive;
$body-font: 'Baloo Bhai 2', cursive;

// Added by Aili
$logo-font-subpage-size: 10vw;
$body-font-heading-size: 30px;
$body-font-text-size: 20px;
