@use 'colors';

body {
    width: 100%;
    margin: auto;
    background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(18, 5, 39, 0.6), 
      rgba(0, 0, 0, 0.87)
    ),
    /* your image */
    url(../images/general/audience-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.food-main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-family: $logo-font;
        color: white; 
        font-size: 7vw;
        font-weight: 100;
        text-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }

    &__food {
        max-width: 70%;
        box-sizing: border-box;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        &-container-blocks {
            max-width: 45%;
            box-sizing: border-box;
        }
        
        &-img {
            max-width: 100%;
            min-height: 10vh; 
            border-radius: 10px;
            margin-top: 10px;
            transition: 0.3s ease-in-out;
            &:hover {
                transform: scale(1.01);
            }
        }

        &-name {
            font-family: colors.$body-font;
            font-size: colors.$body-font-heading-size;
        }

        &-info {
            font-family: colors.$body-font;
            font-size: colors.$body-font-text-size;
        }

        a {
            text-decoration: none;
            color: white;
            transition: 0.3s ease-in-out;
        }

        a:hover {
            color: colors.$green;
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 600px) {
    .food-main__food {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-name {
            font-size: colors.$body-font-heading-size-small;
            align-self: flex-start;
        }

        &-info {
            font-size: colors.$body-font-subpage-text-size-small;
            line-height: colors.$body-font-subpage-text-line-height;
        }
    }   
}