@use 'colors';

.indiv-food-body {
    // height: 100vh;
    min-height: 100vh;    
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.68), 
        rgba(0, 0, 0, 0.68)
        ),
        url(../../images/food/foodtruck-backgr.jpg);
        // background-size: 100vw 100vh;
    color: white;
    align-items: flex-start;
}

.food-page__main {
    max-height: 80vh;
    // height: 100%;
    // min-height: 100vh;
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    h1 {
        font-family: colors.$body-font;
        font-size: colors.$body-font-heading-size;
        transform: translateY(-50%);
    }

    .txt {
        grid-column: 2 / 3;
        align-self: center;
        p {
            font-family: colors.$body-font;
            font-size: colors.$body-font-subpage-text-size;
            line-height: $body-font-subpage-text-line-height;
            transform: translateY(-50%);
        }
    }
    
    .back-link {
        justify-self: flex-start;
        grid-column: 2 / 3;
        transform: translateY(-50%);
        a {
            font-family: colors.$body-font;
            font-size: colors.$body-font-subpage-text-size;
            color: white;
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }

        a:hover {
            color: colors.$green;
        }
    }
}

.food-page-img {
    max-height: 100vh;
    z-index: -1;
    // min-height: 100vh;
    // height: 100%;
    // OBS! 95% only local on my machine - width: 100% on the main on GitHub!
    max-width: 100%; 
    // position: fixed;
    // left: 0;
    // grid-row: 1 / 5;
}

.footer.footer-food-indiv {
    margin-top: 0;
    position: fixed;
    bottom: 0;
}