@use 'colors';

.indiv-food-body {
    max-height: 100vh;
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.68), 
        rgba(0, 0, 0, 0.68)
        ),
        url(../../images/food/foodtruck-backgr.jpg);
    color: white;
    align-items: flex-start;
}

.food-page__main {
    max-height: 80vh;    
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    z-index: 1;
    h1 {
        font-family: colors.$body-font;
        font-size: colors.$body-font-heading-size;
        margin-left: 25px;
    }

    .txt {
        grid-column: 2 / 3;
        align-self: center;
        z-index: 1;
        p {            
            margin-left: 25px;
            font-family: colors.$body-font;
            font-size: colors.$body-font-subpage-text-size;
            line-height: $body-font-subpage-text-line-height;
        }
    }
    
    .back-link {
        margin-top: 25px;
        margin-left: 25px;
        justify-self: flex-start;
        grid-column: 2 / 3;
        z-index: 1;
        a {
            font-family: colors.$body-font;
            font-size: colors.$body-font-subpage-text-size;
            color: white;
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }

        a:hover {
            color: colors.$green;
        }
    }
}

.food-page-img {
    height: 100vh;
    max-width: 100%;     
    z-index: -1;
}

.food-page-img-small {
    visibility: hidden;
}

.footer.footer-food-indiv {
    margin-top: 0;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 1000px) {
    .food-page-img {
        visibility: hidden;
    }    

    .food-page__main {  
        .food-page__main-title {
            grid-row-start: 1;
        }

        .food-page__main-info {
            grid-row-start: 2;
        }
        
        .txt {
            grid-column: 1 / 3;
            align-self: center;
        }

        .back-link {
            grid-column: 1 / 3;
            grid-row-start: 3;
        }        
    }

    .food-page-img-small {
        visibility: visible;
        grid-row-start: 4;
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) {       
    .food-page__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        h1.txt {
            font-size: colors.$body-font-heading-size-small;
            align-self: flex-start;
        }

        .txt {
            p {
                font-size: colors.$body-font-subpage-text-size-small;
                line-height: colors.$body-font-subpage-text-line-height;
            }
        }
    }
    
    .food-page-img { 
        display: none;
    }
}